.kcButtonClass {
  --background-color: var(--color-interactive-background-primary);
  --height: var(--size-button);

  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--space-m);

  background-color: var(--background-color);
  border: none;
  color: var(--color-interactive-content-primary);

  block-size: var(--height);
  padding: 0 var(--space-l);
  border-radius: var(--radius-m);

  transition:
    background-color var(--ease) var(--duration-short),
    opacity var(--ease) var(--duration-short);

  &:is(:hover, :focus-visible) {
    --background-color: var(--color-interactive-background-primary-hover);
  }
  &:disabled {
    opacity: var(--opacity-disabled);
  }

  &#kc-login {
    inline-size: 100%;
    margin-block-start: var(--space-xl);
  }
}
