.checkbox {
  label {
    display: flex;
    gap: var(--space-m);
    padding: 0;
    color: var(--color-content-primary);
  }

  input[type="checkbox"] {
    --border-color: var(--color-border-primary);

    appearance: none;
    position: relative;
    margin: 0;

    block-size: var(--size-checkbox);
    inline-size: var(--size-checkbox);
    border-radius: var(--radius-s);
    border: 2px solid var(--border-color);

    transition:
      background-color var(--ease) var(--duration-short),
      border-color var(--ease) var(--duration-short);

    &:checked {
      background-color: var(--color-interactive-background-primary);
      --border-color: var(--color-interactive-background-primary);
    }

    &:after {
      content: "";
      display: block;
      inset: 0;
      block-size: 100%;
      background-image: var(--icon-checkbox);
    }
  }
}
