@import "./fonts.css";
@import "./layout.css";
@import "./form.css";
@import "./components/index.css";

body {
  color: var(--color-content-primary);
  font-size: var(--text-size-m);
  font-family: Inter;
}

h1,
.kcFormHeaderClass h1 {
  font-family: Sperwer;
  font-size: var(--text-size-xl);
}

hr {
  display: none;
}

.login-pf a {
  color: var(--color-interactive-content);
  border-radius: var(--radius-s);
  transition: background-color var(--ease) var(--duration-short);

  &:is(:hover, :focus-visible) {
    color: var(--color-interactive-content);
    background-color: var(--color-interactive-background);
    text-decoration: none;
  }
}

.kcFormHeaderClass {
  #kc-page-title {
    margin: 0;
  }
}

.kcLoginClass {
  padding: 0;
  position: relative;

  display: grid;
  grid-template-rows: 1fr 2fr;
  block-size: 100%;
  background-color: var(--color-background-primary);
}

#kc-login {
  margin-inline-start: auto;
}

#kc-attempted-username {
  font-size: var(--text-size-m);
}

.kcInfoAreaWrapperClass {
  position: absolute;
  inset-block-end: 0;
  inset-inline: 0;
  margin-inline: auto;

  &#kc-info-wrapper {
    background-color: transparent;
  }
}
