@import "./fonts.css";
@import "./layout.css";
@import "./form.css";
@import "./typography.css";
@import "./components/index.css";

hr {
  display: none;
}

.kcFormHeaderClass {
  #kc-page-title {
    margin: 0;
  }
}

.kcLoginClass {
  padding: 0;
  position: relative;

  display: grid;
  grid-template-rows: 1fr 2fr;
  block-size: 100%;
  background-color: var(--color-background-primary);
}

#kc-login {
  margin-inline-start: auto;
}

#kc-attempted-username {
  font-size: var(--text-size-m);
}

.kcInfoAreaWrapperClass {
  position: absolute;
  inset-block-end: 0;
  inset-inline: 0;
  margin-inline: auto;

  &#kc-info-wrapper {
    background-color: transparent;
  }
}
