$bluegray-50: #f2f5f8;
$bluegray-100: #ecf0f5;
$bluegray-200: #dfe6ef;
$bluegray-300: #cdd5e1;
$bluegray-400: #a6b3c5;
$bluegray: #6f8199;
$bluegray-600: #5b6b80;
$bluegray-700: #47576c;
$bluegray-800: #394759;
$bluegray-900: #242934;

$blue-100: #e1f2fe;
$blue-200: #c7e8ff;
$blue-300: #a6d4fe;
$blue-400: #60b5ff;
$blue: #0089ff;
$blue-600: #0076dc;
$blue-700: #0065a8;
$blue-800: #035084;
$blue-900: #1b4a6a;

$purple-100: #ede9fe;
$purple-200: #ddd6fe;
$purple-300: #c4b5fd;
$purple-400: #a78bfa;
$purple: #8b5cf6;
$purple-600: #7c3aed;
$purple-700: #6d28d9;
$purple-800: #5b21b6;
$purple-900: #4c1d95;

$green-100: #d8fff8;
$green-200: #b3feec;
$green-300: #8cf3da;
$green-400: #2de7ba;
$green: #33caaf;
$green-600: #22af99;
$green-700: #2b8a7d;
$green-800: #006b5b;
$green-900: #3b5e56;

$orange-100: #fdeacd;
$orange-200: #ffdaa1;
$orange-300: #ffc163;
$orange-400: #fa9f34;
$orange: #ff8727;
$orange-600: #d36c19;
$orange-700: #995400;
$orange-800: #764000;
$orange-900: #5e4c3b;

$red-100: #ffe5e5;
$red-200: #ffcfcf;
$red-300: #ffb1b1;
$red-400: #ff8080;
$red: #f44;
$red-600: #d42323;
$red-700: #a10009;
$red-800: #820108;
$red-900: #5e3b3b;

$white: #fff;
$off-white: #f1f3f5;
$gray: #f6f6f6;
$gray100: #f1f3f5;
$gray125: #ececec;
$gray150: #f1f3f5;
$gray175: #fafbfc;
$gray200: #ced4da;
$gray250: #d6dbe0;
$gray450: #adb5bd;
$gray600: #868e96;
$gray750: #687078;
$gray900: #212529;
$gray950: #141414;
$black: #000;
$green-legacy: #00c851;
$green200: #32b457;
$reisbalans-green: #3ab55a;
$yellow: #fb3;
$yellow100: #fff9eb;
$yellow500: #fb3;
$yellow600: #fb3;
$blue100: #ecf6ff;
$blue200: #6f8a9b;
$blue500: #3c9cff;
$blue800: #0065a8;
$red: #f44;
$red100: #ffecec;
$red200: #ff5f58;
$red500: #e5001c;
$brown: #6a4204;
$orange100: #fdeed6;
$orange300: #fbd9a5;

/* status */
$accepted: #32b457;
$draft: #384351;
$rejected: #ed1c24;
$submitted: #fbb03b;

/* Energy label */
$label-a: #009343;
$label-b: #009343;
$label-c: #dbdb01;
$label-d: #dbdb01;
$label-e: #ff9400;
$label-f: #d91926;
$label-g: #d91926;

/* Reservation Status */
$reservation-yellow: #fb3;
$reservation-blue: #3c9cff;
$reservation-red: #f44;
$reservation-green: #00c851;

/* Toast colors */
$info-border: #3c9cff;
$info-background: #ecf6ff;
$error-border: #f44;
$error-background: #ffecec;
$success-border: #00c851;
$success-background: #e5faee;

$donkey-republic: #ff6400;

$mig-blue-100: #e1f2fe;
$mig-bluegray-800: #3d475b;
$ovpay: #ed1c66;
$ovpay-button-hover: #d41156;
$ovpay-button-active: #b80a4b;

$shadow: rgba(#242935, 0.2);
