@use './common.scss';

:root {
  --primary-color: hsla(336, 100%, 45%, 1);
  --background-image-url: url('../assets/img/shuttel-interface-background.jpg');
  --logo-image-url: url('../assets/img/shuttel-logo.png');
}
